*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 800px;
    height: 850px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background:  rgb(239, 239, 239);
overflow: hidden;
}

form input{
height: 150px;
width: 100%;
border: none;
border-radius: 12px;
font-size: 2rem;
padding: 1rem;
color: aliceblue;
background: black;
text-align: right;
pointer-events: none;
}
.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   padding: 20px;
   
}

button{
    flex: 0 0 22%;
    margin: 5px;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
border: 1px solid black;

}

.btn-yellow {
    background: yellow;
color: white;
}

.btn-grey{
    background: rgb(135, 132, 132);
    color: rgb(255, 255, 255);
}

.btn-equal{
    background: green;
}

.btn-clear{
    background: red;
}